/*.projectmenu {
    width: 76.6%;
    height: 50px;
    display: inline-block;
}
 */

#head {
    background-color: #59869d;
    margin-bottom: 70px;
    padding: 40px 0 40px 0;
}

#content h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    border-bottom: solid white 2px;
}

#addproject {
    padding: 12px;
    margin-bottom: 20px;
}

.projectbox {
    width: 310px;
    background: lightgray;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.projectName {
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.buttons {
    width: 100%;
}

.editbtn {
    background-color: #e7eef1;
    width: 50px;
    margin: 5px auto;
}

.editbtn a {
    color: black;
}

.deletebtn {
    width: 50px;
    background-color: #FF325A;
    margin: 0 auto;
}

.deletebtn a {
    color: black;
}