.projectmenu {
    width: 76.6%;
    height: 50px;
    background: #59869d;
    display: inline-block;
}

.projectmenu h2 {
    color: white;
    float: left;
    padding: 12px;
}

.addproject {
    float: right;
    padding: 12px;
}

.submit {
    background-color: limegreen;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}


.projectbox {
    width: 310px;
    background: #dedede;
    display: inline-block;
    margin: 10px;
}


.projectbox a:first-of-type{
    background-color: #59869d;
    margin: 0;
    width: 100%;
}

.projectbox .editbtn {
    background-color: #59869d;
}

.projectbox .deletebtn {
    background-color: darkred;
}

.projectbox a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px 0;
    display: block;
}

.projectbox a, p{
    margin-top: 5px;
}



.projectbox:hover {
    background: lightgray;
}

