#add{
    margin-bottom: 15px;
}

.projecthead {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;

}

.project-data {
    margin-bottom: 10px;
}

.editbtn {
    display: inline-block;
    margin-left: 5px;
}

.projecthead li{
    list-style-type: none;
    display: inline-block;
    width: 100%;
}


.subproject-data {
    width: 100%;
    background: #e7eef1;
}

.subproject-data ul {
    width: 100%;
}

.subproject-data form input {
    width: 30%;
}

.subproject-data li {
    padding: 10px;
    width: 23%;
    max-width: 23%;
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
}


.subproject-data a:link {
    text-decoration: none;
}

.task-data {
    background: lightgray;
    width: 100%;
}

.task-data ul {
    width: 100%;
    border-bottom: solid gray;
}

.task-data li {
    padding: 10px;
    width: 23%;
    max-width: 23%;
    list-style-type: none;
    display: inline-block;

    font-size: 20px;
}
