.projecthead {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.projecthead li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    width: 24%;
}

.subprojectheader{
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subprojectheader p{
    display: inline-block;
    font-size: 20px;
    padding: 7px;
    width: 24%;
}


.subproject-data {
    width: 100%;
    height: 25px;
    background: #59869d;
}

.project-data table{
    width: 100%;
}

.subproject-data a {
    padding: 10px;
    float: left;
}

.subproject-data a:link{
    text-decoration: none;
}

.subproject-data form {

    padding: 10px;
    float: right;
}

.task-data {
    background: lightgray;
    padding: 10px;
    display: block;
}

.task-name {
    float: left;
    padding: 10px;
}

.task-time{
    padding: 10px;
    float: left;
}