#content h2{
    margin-top: 30px;
    font-size: 35px;
}

#content div {
    border-top: 2px solid black;
    padding-top: 100px;
}

#content h4 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 70px;
}

#content .textfield {
    width: auto;
    margin-left: 30px;
}

#time{
    width: 45px;
    margin: 0px 10px 0px 10px;
}

#content a {
    margin-top: 10px;
    margin-left: 600px;
}

#taskname{
    width: 12%;
    display: inline-block;
    margin-bottom: 21px;
    font-size: 18px;
}

#tasktime{
    width: 22%;
    display: inline-block;
    margin-bottom: 21px;
    font-size: 18px;
}

#subprojectname{
    width: 12%;
    display: inline-block;
    margin-bottom: 21px;
    font-size: 18px;
    margin-right: 70px;
}

#projectname{
    width: 12%;
    display: inline-block;
    margin-bottom: 21px;
    font-size: 18px;
    margin-right: 60px;
}