.projecthead {
    background-color: #59869d;
    margin-bottom: 55px;
    padding: 40px 0 40px 0;
    color: white;
}

.projecthead h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    display: inline-block;
}

.projecthead #top-head {
    border-bottom: solid white 2px;
    margin-bottom: 15px;
}

.projecthead .editbtn {
    display: inline-block;
    margin-left: 35px;
}

.projecthead .editbtn .fa-edit {
    color: white;
}

#table {
    margin-top: 10px;
    border: solid 1px black;
    padding-top: 25px;
    padding-bottom: 1px;
    margin-bottom: 50px;
}

#add {
    margin-bottom: 30px;
}

.editbtn {
    display: inline-block;
    margin-left: 5px;
}

.projecthead li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

.subproject-data {
    width: 100%;
    background: #bcd4e6;
    margin-bottom: 5px;
}

.subproject-data ul {
    width: 100%;
}

.subproject-data form input {
    width: 30%;
}

.subproject-data li {
    padding: 10px;
    width: 23%;
    max-width: 23%;
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
}

.subproject-data a:link {
    text-decoration: none;
}

.task-data {
    background: #e7eef1;
    width: 95%;
    margin-left: 64px;
}

.task-data ul {
    border-bottom: solid gray;
}

.task-data li {
    padding: 10px;
    width: 23%;
    max-width: 23%;
    list-style-type: none;
    display: inline-block;

    font-size: 20px;
}

#return {
    margin-left: 550px;
}

.addTask {
    margin-bottom: 50px;
    margin-top: 15px;
}