<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Subproject</title>
    <!-- <link rel="stylesheet" href="/CSS/subproject.css"> -->
    <link rel="stylesheet" href="/CSS/edit.css">
</head>
<body>
<div id="wrapper">
    <!--Referance fra Alpha solutions https://www.alpha-solutions.com/da-->
    <header>
        <div id="navbar">
            <div class="header">
                <div id="logo">
                    <a href="/">
                        <img src="https://media.alpha-solutions.com/da/-/media/alphawebsite2019/defaults/logo.ashx?iar=0&amp;hash=47313F5015E221C5AA54A61AFA0E9CA6"
                             alt="Alpha Solutions Logo"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--Slut referance fra Alpha Solution-->
    <div id="content">
        <h2>Edit Subproject</h2>
        <p th:text="${message}" class="error"></p>

        <div>
            <h5 id="subprojectname">Subproject Name</h5>
        <form action="editSubproject" method="post">
            <input type="hidden" name="projectID" th:value="${projectID}">
            <input type="hidden" name="subprojectID" th:value="${subproject.subProjectID}">
            <input type="text" name="name" th:value="${subproject.name}" class="textfield" required>
            <input type="submit" class="submit" value="Save">
        </form>

            <h4>Press save when finished</h4>
        </div>

        <a th:href="'/project?id=' + ${projectID}" class="cancel">Cancel</a>

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>