<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Subproject</title>
</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>
    <div id="content">
        <h2 th:text${subproject.name}></h2>

        <div id="tasks" th:each="task: ${subproject.tasks}">
            <h3 th:text="${task.name} + ' ' + ${task.time}"></h3>
        </div>

        <form action="/addTask" method="get">
            <input type="text" name="taskname" placeholder="Task Name" class="textfield" required>
            <input type="text" name="tasktime" placeholder="Task Time in Hours" class="textfield" required>
            <input type="submit" value="Save Task" class="submit">
        </form>
    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>