<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
<div id="wrapper">
    <!--Referance fra Alpha solutions https://www.alpha-solutions.com/da-->
    <header>
        <div id="navbar">
            <div class="header">
                <div id="logo">
                    <a href="/">
                        <img src="https://media.alpha-solutions.com/da/-/media/alphawebsite2019/defaults/logo.ashx?iar=0&amp;hash=47313F5015E221C5AA54A61AFA0E9CA6"
                             alt="Alpha Solutions Logo"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--Slut referance fra Alpha Solution-->

    <div id="content">
        <div id="head">
        <h1>Project Calculation Tool</h1>
        </div>
        <p th:text="${message}" class="error"></p>

        <div id="login">
            <p>To view projects - log in</p>
            <form action="login" method="post">
                <input type="email" placeholder="example@mail.com" name="email" class="textfield" required>
                <input type="password" name="password" placeholder="Enter password" class="textfield" required>
                <input type="submit" value="Sign In" class="submit">
            </form>
        </div>

    </div>

    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>