<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="projects">
            <form action="/addproject" method="post">
                <input type="text" placeholder="project name" name="projectname" required>
            </form>
            <tr>
                <td>
                    <p th:text="${project.name}">Project name</p>
                </td>
            </tr>
        </div>
    </div>
</div>
</body>
</html>