<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
<div id="wrapper">
    <!--Referance fra Alpha solutions https://www.alpha-solutions.com/da-->
    <!--<header>
        <div id="navbar">
            <div class="header">
                <div id="logo">
                    <a href="/">
                        <img src="https://media.alpha-solutions.com/da/-/media/alphawebsite2019/defaults/logo.ashx?iar=0&amp;hash=47313F5015E221C5AA54A61AFA0E9CA6"
                             alt="Alpha Solutions Logo"/>
                    </a>
                </div>
            </div>
        </div>
    </header>-->
    <th:block th:insert="fragments/general :: header"></th:block>
    <!--Slut referance fra Alpha Solution-->

    <div id="content">
        <div id="head">
            <h2 th:text="${session.employee.email} + '\'s Projects'"></h2>
        </div>
        <!-- DENNE FORHINDRE VALIDERING AF PROJECTNAME -->

        <p th:text="${message}" class="error"></p>

        <form id="addproject" action="/addproject" method="POST">
            <input type="text" placeholder="Project Name" name="projectname" class="textfield" required>
            <input type="submit" value="Save" class="submit">
        </form>

        <!-- project box-->
        <div class="projectbox" th:each="project: ${projects}">
            <a th:href="'/project?id=' + ${project.projectID}" th:text="${project.name}" class="projectName"></a>
            <p th:text="'Workdays:' + ${project.getProjectDaysTotal()}"></p>

            <div class="buttons">
                <div class="editbtn">
                    <a th:href="'/editProject?id=' + ${project.projectID}">
                        <img></img>
                        <p>Edit</p>
                    </a>
                </div>
                <div class="deletebtn">
                    <a th:href="'/deleteProject?id=' + ${project.projectID}">
                        <img></img>
                        <p>Delete</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- project box-->

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>