<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <script src="https://kit.fontawesome.com/1a9ff76d50.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/profile.css">
</head>
<body>
<div id="wrapper">
    <!--Referance fra Alpha solutions https://www.alpha-solutions.com/da-->
    <th:block th:insert="fragments/general :: header"></th:block>
    <!--Slut referance fra Alpha Solution-->

    <div id="content">
        <div id="head">
            <h2 th:text="${session.employee.email} + '\'s Projects'"></h2>
        </div>
        <!-- DENNE FORHINDRE VALIDERING AF PROJECTNAME -->

        <p th:text="${message}" class="error"></p>

        <form id="addproject" action="/addproject" method="POST">
            <input type="text" placeholder="Project Name" name="projectname" class="textfield" required>
            <input type="submit" value="Add" class="submit">
        </form>

        <!-- project box-->
        <div class="projectbox" th:each="project: ${projects}">
            <ul>
                <li>
                    <a th:href="'/project?id=' + ${project.projectID}" th:text="${project.name}"
                       class="projectName" th:name="${project.name}"></a>
                    <a class="editbtn" th:href="'/project?id=' + ${project.projectID}">
                        <span class="far fa-edit fa-2x"></span>
                    </a>
                </li>
                <li>
                    <p th:text="'Workdays: ' + ${project.getProjectDaysTotal()}"></p>
                </li>
                <li>
                    <p th:text="'Subprojects: ' + ${project.getSubProjects().size()}">
                    </p>
                </li>
                <div id="boxbottom clearfix">
                    <li class="overview">
                        <a th:href="'/projectoverview?id=' + ${project.projectID}">
                            <span class="far fa-eye fa-2x"></span>
                        </a>
                    </li>
                    <li class="deletebtn">
                        <a onclick="" th:href="'/deleteProject?id=' + ${project.projectID}" th:name="${project.name} + delete">
                            <span class="far fa-trash-alt fa-2x"></span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <!-- project box-->

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>