<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/overview.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="projects">
            <h2 th:text="${employee.email}"></h2>
            <div th:each="project: ${employee.projects}">
                <a th:href="'/project?id=' + ${project.projectID}" th:text="${project.name}"></a>
            </div>
            <form action="/addproject" method="get">
            <input type="text" placeholder="Project Name" name="project" class="textfield" required>
            <input type="submit" value="Save Project" class="submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>