<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Project</title>
    <link rel="stylesheet" href="/project.css">
</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>

    <div id="content">
        <div class="projecthead">
            <li><h2 th:text="${project.name}"></h2></li>
            <li><h3>SubProjects</h3></li>
            <li><h2 th:text="'Workdays: ' + ${project.getProjectDaysTotal()}"></h2></li>
        </div>

        <div id="add">
            <form action="addSubProject" method="POST">
                <input type="hidden" name="projectID" th:value="${project.projectID}">
                <input type="text" name="subprojectname" placeholder="Subproject Name" class="textfield" required>
                <input type="submit" value="Save" class="submit">
            </form>
        </div>

        <p th:text="${message}" class="error"></p>

        <div class="project-data">
            <table th:each="sp: ${project.getSubProjects()}">
                <tr>
                    <td class="subproject-data">
                        <div class="subprojectheader clearfix">
                            <p th:text="${sp.name}"></p>
                            <p th:text="'Workdays: ' + ${sp.getWorkdays()}"></p>

                            <!-- Tilføjet update af subproject og knap til delete subproject-->
                            <a th:href="'editSubproject?subprojectID=' + ${sp.getSubProjectID()} + '&projectID=' + ${project.projectID}">Edit</a>


                            <a th:href="'deleteSubproject?subprojectID=' + ${sp.getSubProjectID()} + '&projectID=' + ${project.projectID}">Delete</a>

                            <form action="addTask" method="POST">
                                <input type="hidden" name="subprojectID" th:value="${sp.getSubProjectID()}">
                                <input type="text" name="taskName" placeholder="task name" required>
                                <input type="text" name="taskTime" placeholder="insert time" required>
                                <input type="submit" value="add task" class="submit">
                            </form>
                        </div>
                    </td>
                <tr class="task-data" th:each="task: ${sp.getTasks()}">
                    <td class="task-name" th:text="'Taskname: '+ ${task.name} ">task name</td>
                    <td>
                        <a th:href="'/editTask?id=' + ${task.taskID}">Edit</a>
                    </td>
                    <td>
                        <a th:href="'/deleteTask?id=' + ${task.getTaskID()}">Delete</a>
                    </td>
                    <td class="task-time" th:text="' Hours: ' + ${task.getTimeHours()}"></td>
                </tr>


            </table>
        </div>
    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>

</body>
</html>