<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Project</title>
    <link rel="stylesheet" href="/project.css">

</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>

    <div id="content">
        <div class="project-data">
            <table th:each="sp: ${project.getSubProjects()}">
                <tr>
                    <td class="subproject-data">
                        <div class="subprojectheader clearfix">
                            <p th:text="${sp.name}"></p>
                            <p th:text="'Workdays: ' + ${sp.getWorkdays()}"></p>

                            <!--                            &lt;!&ndash; Tilføjet update af subproject og knap til delete subproject&ndash;&gt;-->
                            <a th:href="'/projects/'+ ${project.projectID} + '/subprojekt/' + ${sp.getSubProjectID()}">Opdater</a>

                            <form th:action="'/projects/'+ ${project.projectID} + '/subprojekt/' + ${sp.getSubProjectID()} + '/slet'"
                                  method="post">
                                <input type="submit" value="Slet" class="submit">
                            </form>


                            <form action="addTask" method="POST">
                                <input type="hidden" name="subprojectID" th:value="${sp.getSubProjectID()}">
                                <input type="text" name="taskName" placeholder="task name" required>
                                <input type="number" name="taskTime" placeholder="insert time" required>
                                <input type="submit" value="add task" class="submit">
                            </form>
                        </div>
                    </td>
                <tr class="task-data" th:each="task: ${sp.getTasks()}">
                    <td class="task-name" th:text="'Taskname: '+ ${task.name} ">task name</td>
                    <td class="task-time" th:text="' Hours: ' + ${task.getTimeHours()}"></td>
                    <td>
                        <a th:href="'/editTask?id=' + ${task.taskID}">
                            <form action="/editTask" method="get">
                                <input type="hidden" name="id" th:value="${task.getTaskID()}">
                                <input type="hidden" name="task" th:value="${task}">
                                <input type="hidden" name="project" th:value="${project}">
                                <input type="submit" value="Edit task">
                            </form>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/deleteTask?id=' + ${task.getTaskID()}">
                            <form action="">
                                <!--                                &lt;!&ndash; den poster ikke så længe det ikke lægges i en form&ndash;&gt;-->
                                <input type="hidden" name="project" th:value="${project}">
                                <input type="submit" value="Delete">
                            </form>
                        </a>
                    </td>
                </tr>


            </table>
        </div>
    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>

</body>
</html>