<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--Ville det være lækkert med det præcise navn på projekt indført nedenfor i stedet for bare projekt-->
    <title>Project Overview</title>
    <th:block th:include="fragments/general :: headfiles"></th:block>
</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>
    <div id="content">
        <h2 th:text="${project.name}"></h2>

        <div id="overview" th:each="sp: ${project.getSubProjects()}">
            <h3 th:text="${sp.name}"></h3> <!--+ ' ' + ${sp.time}-->
            <div id="tasks" th:each="task: ${sp.getTasks}">
                <h4 th:text="${task.name} + ' ' + ${task.getTimeHours()}"></h4>
            </div>
        </div>

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>