<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--Ville det være lækkert med det præcise navn på projekt indført nedenfor i stedet for bare projekt-->
    <title>Project Overview</title>
    <th:block th:include="fragments/general :: headfiles"></th:block>
</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>
    <div id="content">
        <h2 th:text${project.name}></h2>

        <div id="overview" th:each="sp: ${project.subprojects}">
            <h3 th:text="${sp.name} + ' ' + ${sp.time}"></h3>
            <div id="tasks" th:text="task: ${sp.tasks}">
                <h4 th:text="${task.name} + ' ' + ${task.time}"></h4>
            </div>
        </div>

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>