<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Project</title>
    <link rel="stylesheet" href="/static/project.css">
</head>
<body>
<div id="wrapper">
    <th:block th:insert="fragments/general :: header"></th:block>
    <div id="content">
        <h2 th:text="${project.name}"></h2>


        <h3>SubProjects</h3>

        <div id="add">
            <form action="addSubProject" method="POST">
                <input type="hidden" name="projectID" th:value="${project.projectID}">
                <input type="text" name="subprojectname" placeholder="Subproject Name" class="textfield" required>
                <input type="submit" value="Save SubProject" class="submit">
            </form>
        </div>

        <p th:text="${message}" class="error"></p>
        <div class="subprojects">

            <tr class="subprojects" th:each="sp: ${project.getSubProjects()}">
                <form  action="addTask" method="POST">
                    <input type="hidden" name="projectID" th:value="${project.projectID}">
                    <input type="hidden" name="subproject" th:value="${sp.getSubProjectID()}">
                    <input type="text" name="taskname" placeholder="task name" required>
                    <input type="number" name="tasktime" placeholder="insert time">
                    <input type="submit" value="add task" class="submit">
                </form>
                <td><a th:href="'/subproject?id=' + ${sp.subProjectID}" th:text="${sp.name}"></a></td>
                <td class="task" th:each="task: ${sp.getTasks()}">
                    <a th:href="'/task?id=' + ${task.getTaskID()}" th:text="${task.name}"></a></td>
            </tr>

        </div>

    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>