<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headfiles"></th:block>
    <title>Subproject</title>
</head>
<body>
<div id="wrapper">
    <!--Referance fra Alpha solutions https://www.alpha-solutions.com/da-->
    <header>
        <div id="navbar">
            <div class="header">
                <div id="logo">
                    <a href="/">
                        <img src="https://media.alpha-solutions.com/da/-/media/alphawebsite2019/defaults/logo.ashx?iar=0&amp;hash=47313F5015E221C5AA54A61AFA0E9CA6"
                             alt="Alpha Solutions Logo"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--Slut referance fra Alpha Solution-->
    <div id="content">
        <h2 th:text${subproject.name}></h2>

        <form th:action="'/projects/'+ ${projectID} + '/subprojekt/' + ${subproject.subProjectID}" method="post">
            <input type="text" name="name" th:value="${subproject.name}" class="textfield" required>
            <input type="submit" class="submit" value="Save">
        </form>
        <a th:href="'/project?id=' + ${project.projectID}"><input type="button" value="Cancel" class="cancel"></a>
        <p th:text="${message}"></p>
    </div>
    <th:block th:insert="fragments/general :: footer"></th:block>
</div>
</body>
</html>